section {
  margin-top: 100px;
  padding: 0 20px;
  font-family: 'Playfair Display', serif;

}

.form, .form div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 30px;
}


.form input {
  width: 300px;
  height: 30px;
  background-color: #FFEED8;
  border: none;
  outline: none;

  border-radius: .2rem;

  padding: 1rem;

  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.form select {
  width: 300px;
  height: 30px;
  background-color: #FFEED8;
  border: none;
  outline: none;

  border-radius: .2rem;

}

.orders h1, .form h1 {
  color: #603809;
  font-size: 30px;

  margin-top: 30px;
}

.orders_footer {
  padding-top: 20px;
  height: 150px;
  border-top: 1px solid #603809;
  display: flex;
  justify-content: space-between;
}

.orders_footer div:nth-child(1), .orders_footer div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.orders_footer div:nth-child(2) > * {
  text-align: end;
}

.orders_footer div:nth-child(2) > p {
  color: #603809;
  font-weight: bold;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  background-color: #967259;
  color: #fff;
  height: 51px;
  width: 135px;
  border-radius: 32px;

  border: none;
  margin: 0 60px;

  transform: translateX(-50%);

  font-family: 'Playfair Display', serif;

  transition: background-color 700ms ease;
}

.button:hover {
  background-color: #847266;
}

dialog {
  width: 350px;
  padding: 1rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;
  border-radius: 1rem;

  font-family: 'Playfair Display', serif;

  background-color: #ECE0D1;
}

dialog h1 {
  color: #603809;
  font-size: 30px;
}

dialog h2 {
  color: #603809;
  font-size: 20px;
}

dialog .confirmation  {
  display: flex;
  justify-content: space-around;
}

dialog .confirmation button{
  width: 130px;
  height: 51px;

  border: none;
  border-radius: 32px;

  background-color: #967259;
  color: #fff;

  font-family: 'Playfair Display', serif;
  cursor: pointer;
}

.dialog_container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}



@media(min-width: 768px) {
  section {
    padding: 0 60px;
  }
}
