
.home {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100dvh;

  background: url('../../../../assets/images/quarto-vazio-com-piso-de-madeira-e-parede-azul-escuro.jpg'), rgb(56, 34, 15, 0.3);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  --parallax-speed: 20;

  animation: parallax linear;
}

.text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin-left: 60px;

  z-index: 2;
}

.text p {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

.text h1 {
  font-family: 'Clicker Script', cursive;
  font-size: 60px;
}

.button {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #967259;
  height: 51px;
  width: 135px;
  border-radius: 32px;
  text-decoration: none;
  color: #fff;
  font-family: 'Playfair Display', serif;
  margin-top: 19.5px;
  cursor: pointer;

  transition: all .3s ease;
}

.button:hover {
  background-color: rgb(56, 34, 15);
}

.xicara img{
  position: absolute;
  right: 26px;
  bottom: -10px;
  width: 222px;
  height: 222px;
}

.graos img {
  position: absolute;
  width: 100px;

  top: 170px;
  right: 80px;
  z-index: -1;
}


.parallax {
  position: relative;
  display: grid;
  grid-template-areas: "stack";
}

.parallax > * {
  grid-area: stack;
  animation: parallax linear;
  animation-timeline: scroll();
}

.parallax_xicara {
  --parallax-speed: 2;
  z-index: 10;
}

.parallax_bg {
  --parallax-speed: -1;
}

.parallax_graos {
  --parallax-speed: -5;
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * -200px));
  }
}


section {
  position: relative;
  z-index: 997;
}

.first-content {
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.texts {
  font-family: 'Playfair Display', serif;
  margin-left: 60px;
  margin-top: 93px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  color: #38220F;
}

.subtitle-f-c {
  font-size: 54px;
}

.paragraph-f-c {
  font-size: 20px;
  max-width: 380px;
}

.heart-img img {
  margin-top: 46px;
  width: 120px;
}
.splash {
  display: none;
  position: absolute;
}

.splash img:nth-child(1){
  position: absolute;
  left: -53px;
  top: 400px;
  width: 433px;
  transform: rotate(180deg);
}
.splash img:nth-child(2){
  position: absolute;
  right: 0;
  top: 1800px;
  width: 433px;
  transform: rotate(360deg);
}

.second-content, .third-content  {
  width: 100%;
  height: 200dvh;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.second-content div, .third-content div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.third-content {
  margin-top: 500px;
}

.third-content h4, .third-content-footer h4  {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-size: 14px;
}
.third-content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.second-content-title, .third-content-title, .third-content-footer h1 {
  font-family: 'Playfair Display', serif;
  color: #38220F;
  font-size: 25px;
  margin-bottom: 37px;
}

.cards_list {
  display: flex;
  flex-wrap: wrap;
}

.coffe_list {
  gap: 2rem !important;
}

@media(min-width: 768px) {
  .text p {
    font-size: 16px;
  }

  .text h1 {
    font-size: 180px;
  }

  .xicara img{
    display: block;
    bottom: -10px;
    width: 322px;
    height: 322px;
  }

  .heart-img img {
    margin-top: 46px;
    width: 320px;
  }

  .graos img {
    width: 138px;
    right: 150px;
  }

  .splash {
    display: block;
  }


  .second-content, .third-content {
    height: 100dvh;
  }

  .second-content-title, .third-content-title, .third-content-footer h1 {
    font-size: 35px;
  }
}

@media(min-width: 1024px) {
  .splash img:nth-child(1){
    left: -20px;
    width: 533px;

  }
  .splash img:nth-child(2){
    position: absolute;
    right: 0;
    width: 533px;

  }
}

@media(min-width: 1440px) {
  .text p {
    font-size: 20px;
  }

  .text h1 {
    font-size: 220px;
  }

  .xicara img{
    right: 76px;
    bottom: -30px;
    width: 422px;
    height: 422px;
  }

  .splash img:nth-child(1){
    left: 85px;
    width: 633px;

  }
  .splash img:nth-child(2){
    right: 85px;
    width: 633px;
    top: 1400px;
  }



  .graos img {
    width: 178px;

    top: 200px;
    right: 200px;
  }

  .splash img:nth-child(2){
    display: block;
  }

  .second-content, .third-content {
    height: 80dvh;
  }
}


@media(min-width: 1920px) {
  .splash img:nth-child(1){
    left: 120px;
    width: 833px;

  }
  .splash img:nth-child(2){
    right: 120px;
    width: 833px;
    top: 1400px;
  }
}

