<div class="home container">
  <div class="text">
    <p>Start your morning with</p>
    <h1>Coffee</h1>
    <p style="width: 300px;">Choose what your prefer
      and let us do the rest, the best coffe
      of your life.</p>
    <a href="#" class="button" >
      See More
    </a>
  </div>

  <div class="xicara">
    <img src="../../../../assets/images/kisspng-cuban-espresso-coffee-cup-tea-5bd3714244de12.2426182915405837462821.png" alt="xicara">
  </div>
  <div class="graos-bg"></div>
  <div class="graos">
    <img src="../../../../assets/images/—Pngtree—coffee beans_6337020.png" alt="graos de cafe">
  </div>

</div>
