<header>
  <app-header></app-header>
</header>
<main>
  <app-home></app-home>
  <section>
    <div class="first-content">
      <div class="texts">
        <h2 class="subtitle-f-c">The best choice...</h2>
        <p class="paragraph-f-c">
          When you need to power up your energys
          for the day, you need to choose the right
          one. The coffee we use comes from Brazil
          and has a latino sauce, when we put with
          one of the best milk we can find you fill
          the power you need for your day.
        </p>
      </div>
      <div class="heart-img">
        <img src="../assets/images/toppng.com-coffee-png-1281x1197.png" alt="">
      </div>
      <div class="splash">
        <img src="../assets/images/kisspng-coffee-juice-cafe-splash-splash-of-coffee-5a880ddc9644b9.7041855115188658846155.png" alt="">
        <img src="../assets/images/kisspng-coffee-juice-cafe-splash-splash-of-coffee-5a880ddc9644b9.7041855115188658846155.png" alt="">
      </div>
    </div>
    <div class="second-content">
 
    </div>
  </section>
</main>
