@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/*font-family: 'Playfair Display', serif; */
/* font-family: 'Clicker Script', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
  background-color: #ECE0D1;

  scroll-snap-type: both mandatory;
  scroll-behavior: smooth;
}

.visually_hidden {
  opacity: 0;
}

.content {
  scroll-snap-align: start;
}
